html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='700' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1003%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(115%2c 132%2c 149%2c 1)'%3e%3c/rect%3e%3cpath d='M120.81 326.63L185.77 364.13L185.77 439.13L120.81 476.63L55.86 439.13L55.86 364.13zM120.81 551.63L185.77 589.13L185.77 664.13L120.81 701.63L55.86 664.13L55.86 589.13zM185.77 214.13L250.72 251.63L250.72 326.63L185.77 364.13L120.81 326.63L120.81 251.63zM185.77 439.13L250.72 476.63L250.72 551.63L185.77 589.13L120.81 551.63L120.81 476.63zM315.68 214.13L380.63 251.63L380.63 326.63L315.68 364.13L250.72 326.63L250.72 251.63zM380.63 326.63L445.58 364.13L445.58 439.13L380.63 476.63L315.68 439.13L315.68 364.13zM510.54 326.63L575.49 364.13L575.49 439.13L510.54 476.63L445.58 439.13L445.58 364.13zM770.35 551.63L835.31 589.13L835.31 664.13L770.35 701.63L705.4 664.13L705.4 589.13zM835.3 439.13L900.26 476.63L900.26 551.63L835.3 589.13L770.35 551.63L770.35 476.63zM1225.03 439.13L1289.98 476.63L1289.98 551.63L1225.03 589.13L1160.07 551.63L1160.07 476.63zM1484.84 -10.87L1549.8 26.63L1549.8 101.63L1484.84 139.13L1419.89 101.63L1419.89 26.63zM1484.84 439.13L1549.8 476.63L1549.8 551.63L1484.84 589.13L1419.89 551.63L1419.89 476.63z' stroke='rgba(132%2c 114%2c 114%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M113.31 326.63 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM178.27 364.13 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM178.27 439.13 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM113.31 476.63 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM48.36 439.13 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM48.36 364.13 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM113.31 551.63 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM178.27 589.13 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM178.27 664.13 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM113.31 701.63 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM48.36 664.13 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM48.36 589.13 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM178.27 214.13 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM243.22 251.63 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM243.22 326.63 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM113.31 251.63 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM243.22 476.63 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM243.22 551.63 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM308.18 214.13 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM373.13 251.63 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM373.13 326.63 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM308.18 364.13 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM438.08 364.13 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM438.08 439.13 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM373.13 476.63 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM308.18 439.13 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM503.04 326.63 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM567.99 364.13 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM567.99 439.13 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM503.04 476.63 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM762.85 551.63 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM827.81 589.13 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM827.81 664.13 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM762.85 701.63 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM697.9 664.13 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM697.9 589.13 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM827.8 439.13 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM892.76 476.63 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM892.76 551.63 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM827.8 589.13 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM762.85 476.63 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1217.53 439.13 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1282.48 476.63 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1282.48 551.63 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1217.53 589.13 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1152.57 551.63 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1152.57 476.63 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1477.34 -10.87 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1542.3 26.63 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1542.3 101.63 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1477.34 139.13 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1412.39 101.63 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1412.39 26.63 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1477.34 439.13 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1542.3 476.63 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1542.3 551.63 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1477.34 589.13 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1412.39 551.63 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1412.39 476.63 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0z' fill='rgba(132%2c 114%2c 114%2c 1)'%3e%3c/path%3e%3cpath d='M72.66 359.24L115.97 384.24L115.97 434.24L72.66 459.24L29.36 434.24L29.36 384.24zM115.97 -15.76L159.27 9.24L159.27 59.24L115.97 84.24L72.66 59.24L72.66 9.24zM202.57 -15.76L245.87 9.24L245.87 59.24L202.57 84.24L159.27 59.24L159.27 9.24zM202.57 134.24L245.87 159.24L245.87 209.24L202.57 234.24L159.27 209.24L159.27 159.24zM289.18 284.24L332.48 309.24L332.48 359.24L289.18 384.24L245.87 359.24L245.87 309.24zM375.78 -15.76L419.08 9.24L419.08 59.24L375.78 84.24L332.48 59.24L332.48 9.24zM375.78 134.24L419.08 159.24L419.08 209.24L375.78 234.24L332.48 209.24L332.48 159.24zM462.39 -15.76L505.69 9.24L505.69 59.24L462.39 84.24L419.08 59.24L419.08 9.24zM505.69 209.24L548.99 234.24L548.99 284.24L505.69 309.24L462.39 284.24L462.39 234.24zM462.39 284.24L505.69 309.24L505.69 359.24L462.39 384.24L419.08 359.24L419.08 309.24zM592.29 59.24L635.6 84.24L635.6 134.24L592.29 159.24L548.99 134.24L548.99 84.24zM548.99 434.24L592.29 459.24L592.29 509.24L548.99 534.24L505.69 509.24L505.69 459.24zM635.6 -15.76L678.9 9.24L678.9 59.24L635.6 84.24L592.29 59.24L592.29 9.24zM765.5 59.24L808.81 84.24L808.81 134.24L765.5 159.24L722.2 134.24L722.2 84.24zM938.71 359.24L982.02 384.24L982.02 434.24L938.71 459.24L895.41 434.24L895.41 384.24zM1111.92 59.24L1155.22 84.24L1155.22 134.24L1111.92 159.24L1068.62 134.24L1068.62 84.24zM1068.62 284.24L1111.92 309.24L1111.92 359.24L1068.62 384.24L1025.32 359.24L1025.32 309.24zM1371.74 209.24L1415.04 234.24L1415.04 284.24L1371.74 309.24L1328.43 284.24L1328.43 234.24zM1371.74 359.24L1415.04 384.24L1415.04 434.24L1371.74 459.24L1328.43 434.24L1328.43 384.24zM1415.04 134.24L1458.34 159.24L1458.34 209.24L1415.04 234.24L1371.74 209.24L1371.74 159.24z' stroke='rgba(6%2c 60%2c 156%2c 0.93)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1003'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 600;
  color: #222222;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote-container {
  background-color: rgba(255, 255, 255, 0.759);
  border: none;
  border-radius: 10px;
  box-shadow: 10px 10px 10px #222222c9;
  padding: 30px;
  margin: 15px;
  width: auto;
  max-width: 900px;
}

.quote-text {
  font-size: 2rem;
  margin: 10px 0;
}

.quote-author {
  font-size: 1.6rem;
  font-weight: 400;
  font-style: italic;
  margin: 10px 0;
}

.fa-quote-left,
.fa-quote-right {
  font-size: 3rem;
  font-weight: 900;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
}

button {
  border: none;
  border-radius: 5px;
  box-shadow: 4px 4px 4px #222222c9;
  padding: 10px;
  transition: 0.3s;
  cursor: pointer;
}

button:hover {
  transform: scale(1.15);
  filter: brightness(110%);
}

button:active {
  box-shadow: none;
}

.twitter-button {
  color: #1da1f2;
}

/* Loader */
.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #222222;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}
